@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
body {
  font-family: "DM Sans", sans-serif;
}
option {
  color: black;
}

@media only screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 10px #5d4cdb;
  }
  50% {
    box-shadow: 0 0 20px #5d4cdb, 0 0 25px #5d4cdb;
  }
  100% {
    box-shadow: 0 0 10px #5d4cdb;
  }
}

.glowing-button {
  animation: glowing 1.5s infinite;
}
